/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.printable {
    display: none;
}

@media print {
    .printable {
        display: block !important;
    }
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.sidebar-sticky a{color:white !important;}
.sidenav {
  height: 100% !important;
  /* width: 160px; */
  position: fixed !important;
  z-index: 1 !important;
  top: 0 !important;
  left: 0 !important;
  background-color: #0c1624 !important;
  overflow-x: hidden !important;
  padding-top: 20px !important;
}
/* .sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
} */

.sidenav a:hover {
  color: #0db9fd !important;
  font-size: 25px !important;
}
.hide {
  display: none;
}
.show {
  display: block;
}

.tileImage{height:145px !important;}
.bgInfo1{background-color:#046878;color:#fff;}
.bgInfo2{background-color:#02353d;color:#fff;}
.bgDark{background-color: #333;color:#fff;}
.bgWhite{background-color: #fff;color:#333;}
.bgDefault{background-color: #ddd;color:#333;}
.bgGrayPale {
    background-color: #eaeaea;
    color: #333;
}
.bgGreenPale {
    background-color: #a0cf77;
    color: #333;
}
.validation-summary-errors{background-color: rgb(160, 44, 44) !important;color:#fff !important;}
.bg-Completed{background-color:#06b8af;color:#fff;}
.bg-3{background-color:#06b8af;color:#fff;}
.textBox2ch{width:60px !important;margin-left: 5px !important;margin-right: 5px !important;}
.textBox4ch{width:80px !important;margin-left: 5px !important;margin-right: 5px !important;}
.bgOverdue-True{display: block;background-color: rgb(160, 44, 44) !important;color:#fff !important;}
.bgOverdue-False{display: block;background-color: #a0cf77 !important;color:#fff !important;}
.bgInProgress-True{display: block;background-color: #ebdb08 !important;color:#333 !important;}
.TaskOverdue-True {
    background-color: rgb(248, 218, 218) !important;
    color: rgb(121, 4, 4) !important;
}

.TaskOverdue-False {
    background-color: #eafadd !important;
    color: #2b5c03 !important;
}

.TaskInProgress-True {
    background-color: #fff !important;
    color: #333 !important;
}
.icon{width:24px;height:24px;}

.list-group-item{display:block;}
    .list-group-item a{color:darkblue;}
    .list-group-item .active a{color:white !important;}
    /*.textBoxSmall{width:60px !important;}
.textBoxMedium {
    width: 100px !important;
}*/
    @import url('https://fonts.googleapis.com/css?family=Scheherazade&display=swap');
    .arabic {
        font-family: 'Scheherazade' !important, serif;
    }

